<!DOCTYPE html>
<html lang="en">
  <head>
    <%if (analytics) { %> <%=require("./partials/analytics.html")%> <% } %>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Serhii - Web Developer" />
    <title>Serhii - Web Developer</title>
  </head>
  <body>
    <div class="container">
      <%=require("./partials/header.html")%> <%=require("./partials/main.html")%>
      <%=require("./partials/footer.html")%> <%=require("./partials/sources.html")%>
    </div>
  </body>
</html>
